<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.InfiniteLoop.dao.UserAccountMapper">
  <resultMap id="BaseResultMap" type="UserAccount">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_username" jdbcType="VARCHAR" property="userUsername" />
    <result column="user_password" jdbcType="VARCHAR" property="userPassword" />
    <result column="user_nickname" jdbcType="VARCHAR" property="userNickname" />
    <result column="user_email" jdbcType="VARCHAR" property="userEmail" />
    <result column="user_last_login_time" jdbcType="TIMESTAMP" property="userLastLoginTime" />
    <result column="user_last_login_city" jdbcType="VARCHAR" property="userLastLoginCity" />
    <association property="userDetail" javaType="UserDetail">
      <id column="user_detail_id" jdbcType="INTEGER" property="userDetailId"/>
      <result column="user_id" jdbcType="INTEGER" property="userId"/>
      <result column="user_nickname" jdbcType="VARCHAR" property="userNickname"/>
      <result column="user_avatar" jdbcType="VARCHAR" property="userAvatar"/>
      <result column="user_sex" jdbcType="TINYINT" property="userSex"/>
      <result column="user_birthday" jdbcType="VARCHAR" property="userBirthday"/>
      <result column="user_profession" jdbcType="VARCHAR" property="userProfession"/>
      <result column="user_living_city" jdbcType="VARCHAR" property="userLivingCity"/>
      <result column="user_motto" jdbcType="VARCHAR" property="userMotto"/>
      <result column="user_language_attention" jdbcType="VARCHAR" property="userLanguagesAttention"/>
    </association>
  </resultMap>
  <sql id="Base_Column_List">
    user_id, user_username, user_password, user_nickname, user_email, user_last_login_time, 
    user_last_login_city
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_account
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <select id="selectByUsername" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from user_account
    where user_username = #{userUsername,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_account
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="UserAccount">
    insert into user_account (user_id, user_username, user_password, 
      user_nickname, user_email, user_last_login_time, 
      user_last_login_city)
    values (#{userId,jdbcType=INTEGER}, #{userUsername,jdbcType=VARCHAR}, #{userPassword,jdbcType=VARCHAR}, 
      #{userNickname,jdbcType=VARCHAR}, #{userEmail,jdbcType=VARCHAR}, #{userLastLoginTime,jdbcType=TIMESTAMP}, 
      #{userLastLoginCity,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="UserAccount" useGeneratedKeys="true" keyProperty="userId">
    insert into user_account
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="userUsername != null">
        user_username,
      </if>
      <if test="userPassword != null">
        user_password,
      </if>
      <if test="userNickname != null">
        user_nickname,
      </if>
      <if test="userEmail != null">
        user_email,
      </if>
      <if test="userLastLoginTime != null">
        user_last_login_time,
      </if>
      <if test="userLastLoginCity != null">
        user_last_login_city,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userUsername != null">
        #{userUsername,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null">
        #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userNickname != null">
        #{userNickname,jdbcType=VARCHAR},
      </if>
      <if test="userEmail != null">
        #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="userLastLoginTime != null">
        #{userLastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userLastLoginCity != null">
        #{userLastLoginCity,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="UserAccount">
    update user_account
    <set>
      <if test="userUsername != null">
        user_username = #{userUsername,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null">
        user_password = #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userNickname != null">
        user_nickname = #{userNickname,jdbcType=VARCHAR},
      </if>
      <if test="userEmail != null">
        user_email = #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="userLastLoginTime != null">
        user_last_login_time = #{userLastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userLastLoginCity != null">
        user_last_login_city = #{userLastLoginCity,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="UserAccount">
    update user_account
    set user_username = #{userUsername,jdbcType=VARCHAR},
      user_password = #{userPassword,jdbcType=VARCHAR},
      user_nickname = #{userNickname,jdbcType=VARCHAR},
      user_email = #{userEmail,jdbcType=VARCHAR},
      user_last_login_time = #{userLastLoginTime,jdbcType=TIMESTAMP},
      user_last_login_city = #{userLastLoginCity,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
</mapper>
