<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.InfinitelyLoop.dao.UserDetailMapper">
  <resultMap id="BaseResultMap" type="UserDetail">
    <id column="user_detail_id" jdbcType="INTEGER" property="userDetailId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_avatar" jdbcType="VARCHAR" property="userAvatar" />
    <result column="user_sex" jdbcType="TINYINT" property="userSex" />
    <result column="user_birthday" jdbcType="VARCHAR" property="userBirthday" />
    <result column="user_profession" jdbcType="VARCHAR" property="userProfession" />
    <result column="user_living_city" jdbcType="VARCHAR" property="userLivingCity" />
    <result column="user_motto" jdbcType="VARCHAR" property="userMotto" />
    <result column="user_languages_attention" jdbcType="INTEGER" property="userLanguagesAttention" />
  </resultMap>
  <sql id="Base_Column_List">
    user_detail_id, user_id, user_avatar, user_sex, user_birthday, user_profession, user_living_city, 
    user_motto, user_languages_attention
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_detail
    where user_detail_id = #{userDetailId,jdbcType=INTEGER}
  </select>
  <select id="selectByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user_detail
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_detail
    where user_detail_id = #{userDetailId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="UserDetail">
    insert into user_detail (user_detail_id, user_id, user_avatar, 
      user_sex, user_birthday, user_profession, 
      user_living_city, user_motto, user_languages_attention
      )
    values (#{userDetailId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{userAvatar,jdbcType=VARCHAR}, 
      #{userSex,jdbcType=TINYINT}, #{userBirthday,jdbcType=VARCHAR}, #{userProfession,jdbcType=VARCHAR}, 
      #{userLivingCity,jdbcType=VARCHAR}, #{userMotto,jdbcType=VARCHAR}, #{userLanguagesAttention,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="UserDetail">
    insert into user_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userDetailId != null">
        user_detail_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="userAvatar != null">
        user_avatar,
      </if>
      <if test="userSex != null">
        user_sex,
      </if>
      <if test="userBirthday != null">
        user_birthday,
      </if>
      <if test="userProfession != null">
        user_profession,
      </if>
      <if test="userLivingCity != null">
        user_living_city,
      </if>
      <if test="userMotto != null">
        user_motto,
      </if>
      <if test="userLanguagesAttention != null">
        user_languages_attention,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userDetailId != null">
        #{userDetailId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userAvatar != null">
        #{userAvatar,jdbcType=VARCHAR},
      </if>
      <if test="userSex != null">
        #{userSex,jdbcType=TINYINT},
      </if>
      <if test="userBirthday != null">
        #{userBirthday,jdbcType=VARCHAR},
      </if>
      <if test="userProfession != null">
        #{userProfession,jdbcType=VARCHAR},
      </if>
      <if test="userLivingCity != null">
        #{userLivingCity,jdbcType=VARCHAR},
      </if>
      <if test="userMotto != null">
        #{userMotto,jdbcType=VARCHAR},
      </if>
      <if test="userLanguagesAttention != null">
        #{userLanguagesAttention,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="UserDetail">
    update user_detail
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="userAvatar != null">
        user_avatar = #{userAvatar,jdbcType=VARCHAR},
      </if>
      <if test="userSex != null">
        user_sex = #{userSex,jdbcType=TINYINT},
      </if>
      <if test="userBirthday != null">
        user_birthday = #{userBirthday,jdbcType=VARCHAR},
      </if>
      <if test="userProfession != null">
        user_profession = #{userProfession,jdbcType=VARCHAR},
      </if>
      <if test="userLivingCity != null">
        user_living_city = #{userLivingCity,jdbcType=VARCHAR},
      </if>
      <if test="userMotto != null">
        user_motto = #{userMotto,jdbcType=VARCHAR},
      </if>
      <if test="userLanguagesAttention != null">
        user_languages_attention = #{userLanguagesAttention,jdbcType=INTEGER},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="UserDetail">
    update user_detail
    set user_id = #{userId,jdbcType=INTEGER},
      user_avatar = #{userAvatar,jdbcType=VARCHAR},
      user_sex = #{userSex,jdbcType=TINYINT},
      user_birthday = #{userBirthday,jdbcType=VARCHAR},
      user_profession = #{userProfession,jdbcType=VARCHAR},
      user_living_city = #{userLivingCity,jdbcType=VARCHAR},
      user_motto = #{userMotto,jdbcType=VARCHAR},
      user_languages_attention = #{userLanguagesAttention,jdbcType=INTEGER}
    where user_detail_id = #{userDetailId,jdbcType=INTEGER}
  </update>
</mapper>
