.question{
    width: 80%;
    height: auto;
    background: salmon;
}
.q_title{
    width: inherit;
    height: 50px;
    background: skyblue;
}
.q_language{
    width: inherit;
    height: 50px;
    background: aquamarine;
}
