.question_box{
    width: 100%;
    height: auto;
    max-height: 80px;
}

.q_title{
    font-size: 18px;
    font-weight: bold;
}
.q_language{
    width: auto;
    height: auto;
    max-height: 30px;
}
.q_language_box{
    width: auto;
    height: 25px;
    min-width: 40px;
    border: 1px solid 	#E0EEEE;
    border-radius: 8px;
    background: #E0FFFF;
    float: left;
    text-align: center;
    vertical-align: middle;
    margin: 5px 5px;
}
hr{
    clear: both;
    margin: 10px 0;
}
