.text-field{
    outline: none;
    border: none;
    border-bottom: 1px solid lightgray;
    margin-bottom: 18px;
    width: 100%;
    font-size: 20px;
}
.form-login,.form-register{
    margin:10% auto;
    width: 60%;
}
