.question-title{
    font-weight: bold;
    font-size: 20px;
    border-bottom: 1px solid #EDEDED;
}
.question-content{
    font-size: 15px;
    padding: 10px 20px;
    border-bottom: 1px solid #EDEDED;
}
.question-attr{
    width: 100%;
    padding: 15px 20px;
}
.user{
    padding: 0 5px;
    width: 200px;
}
.post_time{
    width: 210px;
    font-size: 12px;
    color: #ABABAB;
}
.q_language{
    height: auto;
    max-width: 185px;
}
.q_language_box{
    width: auto;
    height: 20px;
    min-width: 30px;
    border: none;
    background-color: #FDF5E6;
    float: left;
    text-align: center;
    margin: 3px 3px;
    font-size: 12px;
    font-weight: bold;
    color: #8F8F8F;
    padding: 3px 5px;
    line-height: 1;
}
img{
    max-width: 100%;
}
#comment-panel{
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
}
.comments{
    margin: 25px 0;
    background-color: #FCFCFC;
    padding: 10px 15px;
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
}
.comment{
    width: 100%;
    border-bottom: 1px solid #F0F3FF;
    padding: 10px 0;
}
.comment-content{
    width: 100%;
    word-wrap: break-word;
}
.comment-footer{
    width: 100%;
    margin-top: 10px;
}

i:hover{
    cursor: pointer;
    color: #96CDCD;
}
.time-user{
    font-size: 12px;
    color: #ABABAB;
}
.up-down{
    text-align: center;
    clear: both;
    margin-bottom: 10px;
}
.answer-count-display{
    border-bottom: 1px solid #F0F3FF;
    width: 100%
}