.question-title{
    font-weight: bold;
    font-size: 25px;
    border-bottom: 1px solid #EDEDED;
}
.question-content{
    font-size: 15px;
    padding: 10px 20px;
    border-bottom: 1px solid #EDEDED;
}
.post_time{
    width: auto;
    text-align: right;
    font-size: 12px;
    font-weight: bold;
    color: lightsteelblue;
}
.q_language{
    float: left;
}
.q_language_box{
    width: auto;
    height: 25px;
    min-width: 40px;
    border: 1px solid 	#E0EEEE;
    border-radius: 8px;
    background: #1C86EE;
    float: left;
    text-align: center;
    margin: 3px 3px;
    font-size: 12px;
    font-weight: bold;
    color: aliceblue;
    padding: 3px 5px;
}
