*{
    font-family: "Microsoft YaHei UI";
}
dt{
    float: left;
}
.user-image{
    width: 100px;
    height: 100px;
    box-shadow: 2px 2px 7px rgba(0,0,0,0.4);
}
.user-detail-display{
    /*line-height: 35px;*/
}
.u_language_box{
    width: auto;
    height: 25px;
    min-width: 40px;
    border: 1px solid 	#E0EEEE;
    border-radius: 8px;
    background: #1C86EE;
    float: left;
    text-align: center;
    margin: -1px 3px;
    font-size: 12px;
    font-weight: bold;
    color: aliceblue;
    padding: 3px 5px;
}
.languagebind{
    display: block;
    margin-right: 5px;
    float: left;
}
